/* Coolors Exported Palette - https://coolors.co/ebf5df-bad4aa-d4d4aa-edb458-e8871e */

/* CSS HEX */
--honeydew: #ebf5dfff;
--celadon: #bad4aaff;
--vanilla: #d4d4aaff;
--hunyadi-yellow: #edb458ff;
--fulvous: #e8871eff;

/* CSS HSL */
--honeydew: hsla(87, 52%, 92%, 1);
--celadon: hsla(97, 33%, 75%, 1);
--vanilla: hsla(60, 33%, 75%, 1);
--hunyadi-yellow: hsla(37, 81%, 64%, 1);
--fulvous: hsla(31, 81%, 51%, 1);

/* SCSS HEX */
$honeydew: #ebf5dfff;
$celadon: #bad4aaff;
$vanilla: #d4d4aaff;
$hunyadi-yellow: #edb458ff;
$fulvous: #e8871eff;

/* SCSS HSL */
$honeydew: hsla(87, 52%, 92%, 1);
$celadon: hsla(97, 33%, 75%, 1);
$vanilla: hsla(60, 33%, 75%, 1);
$hunyadi-yellow: hsla(37, 81%, 64%, 1);
$fulvous: hsla(31, 81%, 51%, 1);

/* SCSS RGB */
$honeydew: rgba(235, 245, 223, 1);
$celadon: rgba(186, 212, 170, 1);
$vanilla: rgba(212, 212, 170, 1);
$hunyadi-yellow: rgba(237, 180, 88, 1);
$fulvous: rgba(232, 135, 30, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-right: linear-gradient(90deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-bottom: linear-gradient(180deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-left: linear-gradient(270deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-top-right: linear-gradient(45deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-bottom-right: linear-gradient(135deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-top-left: linear-gradient(225deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-bottom-left: linear-gradient(315deg, #ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);
$gradient-radial: radial-gradient(#ebf5dfff, #bad4aaff, #d4d4aaff, #edb458ff, #e8871eff);