#main-comprar{
        background-color: #5B8C5A;
    #tarjetas{
        background-color: #5B8C5A;
            .card-comprar{
                width: 55px;
                height: 35px;
            }
    }

}  
   #tarjetas{
        background-color: #5B8C5A;
            .card-comprar{
                width: 55px;
                height: 35px;
            }
    }

.filtro{
    border-radius: 3px;
    padding-top: 3px;
    background-color: #bad4aaff;
    width: 180px;
    position: absolute;
    position: relative;
    left: 850px;
}
