//HEADER

#cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    
    .logo-principal{
        width: 100px;
        height: 100px;
        padding: 15px;
    }
    
    
    
    .logo-principal:hover{
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    }
    .nav-link{
        padding-left: 10px;
    }
    .boton{
        border-radius: 15px;
        background-color: $main-color;
        font-weight: lighter;
        color: white;
        border-color: black;
        border: 1px solid;
        height: 25px;
        margin-top: 13px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        transition: all 1s;
    
    &:hover{
        transform: scale(1.1);
        background-color: #5B8C5A;
        color: black;
        font-weight: 600;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    }
}
    
        .nav-link{
            display: block;
            padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
            font-size: var(--bs-nav-link-font-size);
            font-weight: var(--bs-nav-link-font-weight);
            text-decoration: none;
            background-color:white;
            border: 0;
        }
}

//MAIN
main{
    .div-h1{
        h1{
            display: block;
            color: red;
            text-align: center;
            background-image: linear-gradient(to left,#5B8C5A, #e8871eff);
            margin: 0%;
            height: 100px;
            top: 1px;
            font-family: letrah1; 
            font-weight: lighter;
            font-size: 50px;  
            padding-top: 20px;
            transition: 3s;

            @media (max-width: 576px){
                font-size: 35px;
            }
        }
    :hover{
        height: 150px;
        font-size: 75px;
    }
    }
    section{
        h4{
            background-color: $main-color;
            text-align: center;
            margin-top: 0%;
            margin-bottom: 0%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }    
    article{
        background-color: $color-fondo;
        h2{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-top: 0%;
            padding-top: 15px;
        }  
        h4{
            text-align: center;
            font-family: 'Raleway', sans-serif;
            width: 100;
        }
    }
    #cards{
        display: flex;
        justify-content: space-around;
        height: auto;
        margin: 20px;
        .card{
            width: 250px;
            height: auto; 
            border: 1px solid #bbb8b8;
            border-radius: 5px;
            padding-top: 15px;
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
            margin: 10px;
            background-color: #d4d4aaff;
            transition: 2s;
        &:hover{
            background-color: gray; 
            
        }
            img{
                width: auto;
                height: 235px;
                border-radius: 5px;
                align-items: center;
            }
            .card-texto{
                margin-top: 10px;
                width: auto;
                h3{
                    font-size: 18px;
                    margin: 0;
                    padding: 5px;
                    text-align: center;
                &:hover{
                    text-decoration: underline;
                    color: blue; 
                }
               }
                p{
                    font-size: 14px;
                    margin: 5px 0px;
                    padding: 5px;
                }
            }
        }
    }
}



//FOOTER
footer{
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0px;
        padding: 10px;
        background-color: #042a2bff;
        color: white;
        border-bottom: 2px black solid;
        border-top:  5px solid #bdd358ff;
        .logo{
            width: 100px;
            height: 100px;
            padding: 15px;
        }
        #navegador{
            padding: 5px;
            ul{
                display: flex;
                flex-direction: row;
                width: 450px;
                justify-content: space-evenly;
                margin-top: 15px;
                padding: 0px; 
                .lista{
                    list-style: none;
                    text-decoration: none;
                    a{
                        list-style: none; 
                        color:white;
                        text-decoration: none;
                        text-transform: uppercase;
                    &:hover{
                        color: gray;
                        text-decoration: underline;
                    }
                    }
                }

            }

        }
        .iconos-redes{
            width: 180px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .redes-icono{
                max-width: 30px;
                height: auto;
                margin-right: 10px;
            }
        }
    }    
    .derechos{
        background-color: $color-fondo;
        font-weight: bold;
        color: white;
        height: 30px;
        width: 100%;
        align-items: center;
    }

    }


@media (max-width: 576px){
    main .div-h1 h1{
        font-size: 35px;
    }
    .footer{
        width: auto;
    }
    footer .footer .logo{
        width: 60px;
        height: 60px;
        padding: 5px;
    }
    footer .footer #navegador ul{
        width: 320px;
    }
    footer .footer #navegador ul .lista a{
        color: red;
        font-size: 11px;
    }
    footer .footer .iconos-redes{
        width: 95px;
        height: 40px;
        padding: 5px;

    }
    footer .footer .iconos-redes .redes-icono{
        max-width: 18px;
        height: auto;
        margin-right: 5px;
    }
    main #cards {
        display: flex;
        justify-content: space-around;
        height: auto;
        margin: 20px;
    }
    main #cards {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 5px;
    }
}   

@media (min-width: 576px) and (max-width: 848px){
    main .div-h1 h1{
        font-size: 40px;
    }
    .footer{
        width: auto;
    }
    footer .footer .logo{
        width: 80px;
        height: 80px;
        padding: 10px;
    }
    footer .footer #navegador ul{
        width: 380px;
    }
    footer .footer #navegador ul .lista a{
        color: green;
        font-size: 13px;
    }
    footer .footer .iconos-redes{
        width: 120px;
        height: 45px;
        padding: 8px;
    }
    footer .footer .iconos-redes .redes-icono{
        max-width: 20px;
        height: auto;
        margin-right: 8px;
    }
    main #cards {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 10px;
      }
}