.main-login{
    height: 400px;
    margin-top: 25px;
    background-image: url("../img/fondo sobre nosotros 3.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat;
    margin-bottom: 0%;

    #form-login{
        fieldset{
            width: 300px;
            height: 500px;
            padding-top: 10px;
            margin-left: 25px;
            background-color: color-fondo;
            .boton{
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .iniciar-sesion{
                font-weight: 500;
            }
        }
    }
}

