#sobre-nosotros-grilla {
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera"
        "main main main"
        "footer footer footer";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto auto;

    #cabecera{
        grid-area: cabecera;
        border: 2px solid black;
    }

    .main-sobre{
        grid-area: main;
        background-image: url('../../img/fondo\ sobre\ nosotros\ 3.webp');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        padding-left: 25px;


        h3{
            font-family: letrah1;
            font-size: 50px;
            padding-top: 20px;
            padding-left: 200px;
        }

        #nosotros-primero{
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 20px;

            p{
                width: 850px;
                text-align: justify;
                font-size: 20px;
                font-weight: 400;
            }
            #imagen1{
                width: 650px;
                height: 650px;
                border-radius: 10px;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);

                .familia-amapola{
                    width: 650px;
                    height: 650px;
                    display: block;
                    border: 2px solid #5B8C5A;
                    border-radius: 10px;
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
                }
            }
        }
        #nosotros-segundo{
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 20px;
            padding-bottom: 20px;
            padding-left: 40px;
            
            p{
                width: 850px;
                text-align: justify;
                font-size: 20px;
                padding-right: 15px;
            }
            #imagen2{

                width: 650;
                height: 650px;
                border-radius: 10px;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);

                .familia-amapola{
                    width: 650px;
                    height: 570px;
                    display: block;
                    border: 2px solid #5B8C5A;
                    border-radius: 10px;
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
                    
                }
            }
        }
    }
    .footer{
        grid-area: footer;
        width: 100vw;
    }
}

@media (max-width: 576px){

}

@media (min-width: 576px) and (max-width: 1045px){
    

}
