// #sobre-nosotros-grilla {
//     display: grid;
//     grid-template-areas:
//         "cabecera cabecera cabecera"
//         "main main main"
//         "footer footer footer";
//     grid-template-rows: repeat(3, auto);
//     grid-template-columns: auto auto auto;

    #cabecera{
        border: 2px solid black;
    }

    .main-sobre{
        width: 100rem;
        background-image: url('../../img/fondo\ sobre\ nosotros\ 2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 30px;
        
        h3{
            font-family: letrah1;
            font-size: 50px;
            padding-top: 20px;
            padding-left: 200px;
        }

        #nosotros-primero{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 20px;

            p{
                width: 650px;
                text-align: justify;
                font-size: 20px;
                font-weight: 400;
            }
            #imagen1{
                width: 650px;
                height: 650px;
                border-radius: 10px;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);

                .familia-amapola{
                    width: 650px;
                    height: 650px;
                    border: 2px solid #5B8C5A;
                    border-radius: 10px;
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
                }
            }
        }
        #nosotros-segundo{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 20px;
            margin-bottom: 25px;

            p{
                width: 650px;
                text-align: justify;
                font-size: 20px;
                font-weight: 400;
            }
            #imagen2{
                width: 650px;
                height: 650px;
                border-radius: 10px;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);

                .familia-amapola{
                    width: 650px;
                    height: 650px;
                    border: 2px solid #5B8C5A;
                    border-radius: 10px;
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    
    .footer{
        width: 100vw;
    }


@media (max-width: 576px){
    h3{
        font-size: 20px;
        padding-left: 20px;
    }

    #nosotros-primero{
        width: 100%;

        p{
            width: 100%;
            font-size: 20px;
            padding-right: 15px;
        }
        #imagen1{
            width: 100%;
            height: auto;

        }
    }
    #nosotros-segundo{
        width: 100%;

        p{
            width: 100%;
            font-size: 20px;
            padding-right: 15px;
        }
        #imagen2{
            width: 100%;
            height: auto;

        }
    }
    
}


@media (min-width: 576px) and (max-width: 1045px){
    h3{
        font-size: 25px;
        padding-left: 50px;
    }

    #nosotros-primero{
        width: 100%;

        p{
            width: auto;
            font-size: auto;
            padding-right: 15px;
        }
        #imagen1{
            width: 100%;
            height: auto;

        }
    }
    #nosotros-segundo{
        width: 100%;

        p{
            width: auto;
            font-size: auto;
            padding-right: 15px;
        }
        #imagen2{
            width: 100%;
            height: auto;

        }
    }

}
