html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  height: auto;
  padding: 0%;
}

@font-face {
  font-family: letrah1;
  src: url(../fonts/Letra1.ttf);
}
#cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
#cabecera .logo-principal {
  width: 100px;
  height: 100px;
  padding: 15px;
}
#cabecera .logo-principal:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
#cabecera .nav-link {
  padding-left: 10px;
}
#cabecera .boton {
  border-radius: 15px;
  background-color: #e8871e;
  font-weight: lighter;
  color: white;
  border-color: black;
  border: 1px solid;
  height: 25px;
  margin-top: 13px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  transition: all 1s;
}
#cabecera .boton:hover {
  transform: scale(1.1);
  background-color: #5B8C5A;
  color: black;
  font-weight: 600;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
#cabecera .nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  text-decoration: none;
  background-color: white;
  border: 0;
}

main .div-h1 h1 {
  display: block;
  color: red;
  text-align: center;
  background-image: linear-gradient(to left, #5B8C5A, #e8871e);
  margin: 0%;
  height: 100px;
  top: 1px;
  font-family: letrah1;
  font-weight: lighter;
  font-size: 50px;
  padding-top: 20px;
  transition: 3s;
}
@media (max-width: 576px) {
  main .div-h1 h1 {
    font-size: 35px;
  }
}
main .div-h1 :hover {
  height: 150px;
  font-size: 75px;
}
main section h4 {
  background-color: #e8871e;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main article {
  background-color: #ebf5df;
}
main article h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 0%;
  padding-top: 15px;
}
main article h4 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  width: 100;
}
main #cards {
  display: flex;
  justify-content: space-around;
  height: auto;
  margin: 20px;
}
main #cards .card {
  width: 250px;
  height: auto;
  border: 1px solid #bbb8b8;
  border-radius: 5px;
  padding-top: 15px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #d4d4aa;
  transition: 2s;
}
main #cards .card:hover {
  background-color: gray;
}
main #cards .card img {
  width: auto;
  height: 235px;
  border-radius: 5px;
  align-items: center;
}
main #cards .card .card-texto {
  margin-top: 10px;
  width: auto;
}
main #cards .card .card-texto h3 {
  font-size: 18px;
  margin: 0;
  padding: 5px;
  text-align: center;
}
main #cards .card .card-texto h3:hover {
  text-decoration: underline;
  color: blue;
}
main #cards .card .card-texto p {
  font-size: 14px;
  margin: 5px 0px;
  padding: 5px;
}

footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #042a2b;
  color: white;
  border-bottom: 2px black solid;
  border-top: 5px solid #bdd358;
}
footer .footer .logo {
  width: 100px;
  height: 100px;
  padding: 15px;
}
footer .footer #navegador {
  padding: 5px;
}
footer .footer #navegador ul {
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-evenly;
  margin-top: 15px;
  padding: 0px;
}
footer .footer #navegador ul .lista {
  list-style: none;
  text-decoration: none;
}
footer .footer #navegador ul .lista a {
  list-style: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer #navegador ul .lista a:hover {
  color: gray;
  text-decoration: underline;
}
footer .footer .iconos-redes {
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer .iconos-redes .redes-icono {
  max-width: 30px;
  height: auto;
  margin-right: 10px;
}
footer .derechos {
  background-color: #ebf5df;
  font-weight: bold;
  color: white;
  height: 30px;
  width: 100%;
  align-items: center;
}

@media (max-width: 576px) {
  main .div-h1 h1 {
    font-size: 35px;
  }
  .footer {
    width: auto;
  }
  footer .footer .logo {
    width: 60px;
    height: 60px;
    padding: 5px;
  }
  footer .footer #navegador ul {
    width: 320px;
  }
  footer .footer #navegador ul .lista a {
    color: red;
    font-size: 11px;
  }
  footer .footer .iconos-redes {
    width: 95px;
    height: 40px;
    padding: 5px;
  }
  footer .footer .iconos-redes .redes-icono {
    max-width: 18px;
    height: auto;
    margin-right: 5px;
  }
  main #cards {
    display: flex;
    justify-content: space-around;
    height: auto;
    margin: 20px;
  }
  main #cards {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 5px;
  }
}
@media (min-width: 576px) and (max-width: 848px) {
  main .div-h1 h1 {
    font-size: 40px;
  }
  .footer {
    width: auto;
  }
  footer .footer .logo {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  footer .footer #navegador ul {
    width: 380px;
  }
  footer .footer #navegador ul .lista a {
    color: green;
    font-size: 13px;
  }
  footer .footer .iconos-redes {
    width: 120px;
    height: 45px;
    padding: 8px;
  }
  footer .footer .iconos-redes .redes-icono {
    max-width: 20px;
    height: auto;
    margin-right: 8px;
  }
  main #cards {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 10px;
  }
}
.formulario {
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* Imagen de fondo para el formulario */
  background-image: url("../img/fondo formulario.jpg");
  background-size: auto; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat;
}
.formulario #tituloContacto {
  font-family: sans-serif;
  font-size: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.formulario form fieldset .letra-formulario {
  font-weight: 750;
}
.formulario form .enviar {
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: gray;
  font-weight: bold;
  color: black;
  border-color: black;
  border: 2px solid;
  height: 25px;
  height: auto;
}
.formulario form .select-radio {
  display: flex;
  flex-direction: row-reverse;
}
.formulario form .letra-formulario {
  font-weight: 750;
}
.formulario form #selecciona {
  color: white;
}

#sobre-nosotros-grilla {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "main main main" "footer footer footer";
  grid-template-rows: 130px 1250px 120px;
  grid-template-columns: 1fr 1fr 1fr;
}
#sobre-nosotros-grilla #cabecera {
  grid-area: cabecera;
  border: 2px solid black;
}
#sobre-nosotros-grilla .main-sobre {
  grid-area: main;
  background-image: url("../img/fondo sobre nosotros 3.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat;
  padding-left: 25px;
}
#sobre-nosotros-grilla .main-sobre h3 {
  font-family: letrah1;
  font-size: 50px;
  margin-top: 20px;
  padding-left: 200px;
}
#sobre-nosotros-grilla .main-sobre #nosotros-primero {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 20px;
}
#sobre-nosotros-grilla .main-sobre #nosotros-primero p {
  width: 500px;
  padding-right: 20px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}
#sobre-nosotros-grilla .main-sobre #nosotros-primero #imagen1 {
  height: auto;
  border: 2px solid #5B8C5A;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
#sobre-nosotros-grilla .main-sobre #nosotros-primero #imagen1 .familia-amapola {
  height: 500px;
  display: block;
  border: 2px solid #5B8C5A;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
#sobre-nosotros-grilla .main-sobre #nosotros-segundo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  margin-top: 20px;
  padding-bottom: 20px;
}
#sobre-nosotros-grilla .main-sobre #nosotros-segundo p {
  width: 500px;
  padding-left: 30px;
  text-align: justify;
  font-size: 20px;
}
#sobre-nosotros-grilla .main-sobre #nosotros-segundo #imagen2 {
  height: 500px;
  border: 2px solid #5B8C5A;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
#sobre-nosotros-grilla .main-sobre #nosotros-segundo #imagen2 .familia-amapola {
  height: 500px;
  display: block;
  border: 2px solid #5B8C5A;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
#sobre-nosotros-grilla footer {
  grid-area: footer;
  width: 100vw;
}

.main-login {
  height: 400px;
  margin-top: 25px;
  background-image: url("../img/fondo sobre nosotros 3.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat;
  margin-bottom: 0%;
}
.main-login #form-login fieldset {
  width: 300px;
  height: 500px;
  padding-top: 10px;
  margin-left: 25px;
  background-color: color-fondo;
}
.main-login #form-login fieldset .boton {
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-login #form-login fieldset .iniciar-sesion {
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
