.formulario{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  
    // IMAGEN PARA FONDO DEL FORMULARIO
    background-image: url('../img/fondo_formulario.webp');
    background-size:auto; 
    background-position: center;
    background-repeat: no-repeat; 
    background-color: $color-fondo;
    #tituloContacto{
        font-family: sans-serif; 
        font-size: 30px; 
        background-color: white;
        display: flex;
        justify-content: center;
    }
    form{
        fieldset{
            .letra-formulario{
                font-weight: 750;
            }
        }
        .boton-enviar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .enviar{
            @include boton-color-align(white, $main-color);
            width: 60px;
            &:hover{
                transform: scale(.9);
                background-color: #5B8C5A;
                color: black;
                font-weight: 600;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
        }
        .select-radio{
            display: flex;
            flex-direction: row-reverse;

        }
        .letra-formulario{
            font-weight: 750;
        }
        #selecciona{
            color: white;
        }
    }
}}